<digi-navigation-breadcrumbs
      af-current-page="Formulär">
      <a href="/">Start</a>
      <a routerLink="/digi-form-start">Information</a>
    </digi-navigation-breadcrumbs>

  <form class="form" [formGroup]="digiForm" (ngSubmit)="OnSubmit()">
    
    <div class="form-group">
      <digi-form-input
      formControlName="firstname"
      af-label="Förnamn"
      [attr.af-id]="'firstname'"
      af-type="text"
      [attr.af-validation]=""
      >
      </digi-form-input>
      <digi-form-validation-message
        af-variation="error"
        *ngIf="digiForm.get('firstname')?.hasError('required') && (digiForm.get('firstname')?.touched || isSubmitted)">
        Ange förnamn
      </digi-form-validation-message>
      <digi-form-validation-message
        af-variation="error"
        *ngIf="digiForm.get('firstname')?.hasError('fornamnInvalid')">
        Förnamn får endast innehålla a-ö, A-Ö, -, blanksteg, é, è, ü, É, È, Ü
      </digi-form-validation-message>
    </div>

    <div class="form-group">
      <digi-form-input
      formControlName="lastname"
      af-label="Efternamn"
      af-variation="medium"
      af-type="text" 
      af-validation="neutral"		
      >
      </digi-form-input>
      <digi-form-validation-message
        af-variation="error"
        *ngIf="digiForm.get('lastname')?.hasError('required') && (digiForm.get('lastname')?.touched || isSubmitted)">
        Ange efternamn
      </digi-form-validation-message>
      <digi-form-validation-message
        af-variation="error"
        *ngIf="digiForm.get('lastname')?.hasError('fornamnInvalid')">
        Efternamn får endast innehålla a-ö, A-Ö, -, blanksteg, é, è, ü, É, È, Ü
      </digi-form-validation-message>
    </div>

    <div class="form-group">
    <digi-form-select
      formControlName="coffeestatus"
      [attr.af-label]="'Kaffestatus'"
      [attr.af-placeholder]="'Kaffestatus...'"
      >
      <option [value]="coffeestatus[0].namn">Full tank</option>
 	    <option [value]="coffeestatus[1].namn">Lagom nivå</option>
      <option [value]="coffeestatus[2].namn">Kris och panik</option>
      <option [value]="coffeestatus[3].namn">Behöver espresso intravenöst</option>
      <option [value]="coffeestatus[4].namn">Prata inte med mig-läge</option>
    </digi-form-select>
    <div>
      <digi-form-validation-message
          af-variation="error"
          *ngIf="digiForm.get('coffeestatus')?.hasError('required') && (digiForm.get('coffeestatus')?.touched || isSubmitted)">
          Ange kaffestatus
      </digi-form-validation-message>
    </div>
    </div>

    <div class="form-group">
      <digi-calendar-datepicker
      formControlName="date"
      [attr.af-label]="'Önskat startdatum (ÅÅÅÅ-MM-DD)'"
      [attr.af-label-description]="''"
      [attr.af-disable-validation]="true"
      [afMinDate]="minDate"
      af-show-week-number='true'>
      </digi-calendar-datepicker>
      <digi-form-validation-message
          af-variation="error"
          *ngIf="digiForm.get('date')?.hasError('required') && (digiForm.get('date')?.touched || isSubmitted)">
          Ange datum
      </digi-form-validation-message>
      <digi-form-validation-message
          af-variation="error"
          *ngIf="!digiForm.get('date')?.hasError('required') && digiForm.get('date')?.hasError('invalidDate')">
          invalidDate Ange ett startdatum för anställningen (ÅÅÅÅ-MM-DD)
      </digi-form-validation-message>
      <digi-form-validation-message
          af-variation="error"
          *ngIf="!digiForm.get('date')?.hasError('invalidDate') && digiForm.get('date')?.hasError('multipleDates')">
          Du kan endast välja ett startdatum
      </digi-form-validation-message>
      <digi-form-validation-message
          af-variation="error"
          *ngIf="!digiForm.get('date')?.hasError('multipleDates') && digiForm.get('date')?.hasError('InvalidDateTodayOrLater')">
          Välj startdatum från dagens datum
      </digi-form-validation-message>
    </div>
    
    <div class="form-group">
      <digi-form-radiogroup 
      [attr.af-name]="'myRadiogroupName'"
      formControlName="chooseCarefully">
        <digi-form-label
          af-label="Om du måste välja..."
          af-for="ett-element-id">
        </digi-form-label>
        <digi-form-radiobutton
          [attr.af-label]="'Merge-konflikt från helvetet'"
          [attr.af-value]="chooseCarefully[0].namn"
        ></digi-form-radiobutton>
        <digi-form-radiobutton
          [attr.af-label]="'Långsamt bygge (5min per ändring)'"
          [attr.af-value]="chooseCarefully[1].namn"
        ></digi-form-radiobutton>
        <digi-form-radiobutton
          [attr.af-label]="'Koda med autocompletion som alltid föreslår fel saker'"
          [attr.af-value]="chooseCarefully[2].namn"
        ></digi-form-radiobutton>
      </digi-form-radiogroup>
       <digi-form-validation-message
          af-variation="error"
          *ngIf="digiForm.get('chooseCarefully')?.hasError('required') && (digiForm.get('chooseCarefully')?.touched || isSubmitted)">
          Gör ett val
      </digi-form-validation-message>
    </div>

    <digi-button
      af-size="medium"
      af-variation="secondary"
      af-full-width="false"
      routerLink="/digi-form-start">
      Tillbaka
    </digi-button>

    <digi-button
      af-size="medium"
      af-variation="primary"
      af-full-width="false"
      [attr.af-type]="'submit'">
      Nästa steg
  </digi-button>
  </form>
  

  