<digi-navigation-breadcrumbs
      af-current-page="Formulär">
      <a href="/">Start</a>
      <a routerLink="/digi-form">Digi-form information</a>
    </digi-navigation-breadcrumbs>

  <form class="form" [formGroup]="digiForm" (ngSubmit)="OnSubmit()">
    
    <div class="form-group">
      <digi-form-input
      formControlName="firstname"
      af-label="Förnamn"
      [attr.af-id]="'firstname'"
      af-type="text"
      [attr.af-validation]=""
      >
      </digi-form-input>
      <digi-form-validation-message
        af-variation="error"
        *ngIf="digiForm.get('firstname')?.hasError('required') && (digiForm.get('firstname')?.touched || isSubmitted)">
        Ange förnamn
      </digi-form-validation-message>
      <digi-form-validation-message
        af-variation="error"
        *ngIf="digiForm.get('firstname')?.hasError('fornamnInvalid')">
        Förnamn får endast innehålla a-ö, A-Ö, -, blanksteg, é, è, ü, É, È, Ü
      </digi-form-validation-message>
    </div>


    <div class="form-group">
      <digi-form-input
      formControlName="lastname"
      af-label="Efternamn"
      af-variation="medium"
      af-type="text" 
      af-validation="neutral"		
      >
      </digi-form-input>
       <digi-form-validation-message
        af-variation="error"
        *ngIf="digiForm.get('lastname')?.hasError('required') && (digiForm.get('lastname')?.touched || isSubmitted)">
        Ange efternamn
      </digi-form-validation-message>
      <digi-form-validation-message
        af-variation="error"
        *ngIf="digiForm.get('lastname')?.hasError('fornamnInvalid')">
        Efternamn får endast innehålla a-ö, A-Ö, -, blanksteg, é, è, ü, É, È, Ü
      </digi-form-validation-message>
    </div>

    <digi-button
    af-size="medium"
    af-variation="primary"
    af-full-width="false"
    [attr.af-type]="'submit'">
    Nästa steg
  </digi-button>
  </form>
  

  