@import '@designsystem-se/af/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@designsystem-se/af/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}
.header{
    background-color: rgb(252, 175, 82);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    padding-top: 20px;
    padding-left: 20px;
    background-color: bisque;
    min-height: 100vh;
}

.button{
    min-width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(252, 175, 82);
    border: none;
    margin-top: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

// Validation
.invalid{
    border: 2px solid red;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
}