.form-receipt{
    background-color: rgb(255, 214, 161);
    max-width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}